.elementor-9949 .elementor-element.elementor-element-d15bbd4 .qodef-qi-wp-forms label.wpforms-error{text-align:left;}/* Start custom CSS for qi_addons_for_elementor_wp_forms, class: .elementor-element-d15bbd4 */.metatype .wpforms-image-choices-item { width: 250px !important;}
.metaoption .wpforms-image-choices-item {
  width: 10rem !important;
}/* End custom CSS */